* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(216, 112, 147, 0.611);
}

.container {
    color: rgba(81, 56, 56, 0.767);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: auto;
}

h1 {
    color: rgb(81, 56, 56);
    border-bottom: 1px solid rgb(81, 56, 56);
    margin: 20px;
}

label {
    display: block;
    padding: 5px 0;
}

input[type="button"] {
    padding: 5px;
    margin: 10px;
    width: 12.7em;
}